@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,100;1,300&display=swap');

:root {
    --background: #29263d;
    --table-background: #29263d;
    --primary: #ffd45e;
    --text-color: #fff;
    --th-background: #2e2b43;
    --gray: #a0a7b1;
    --odd-row: #f6f9ff;
    --gray-background: #edeef1;
    --gray-mid: #f1f2f6;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 16px;
    background-color: var(--background);
}

.table-widget {
    border-radius: 16px;
    background-color: var(--table-background);
    padding: 24px;
    box-shadow: 
    rgba(0,0,0,0.3) 0px 6px 24px 0px,
    rgba(0,0,0,0.08) 0px 0px 0px 1px;
    text-align: left;
    overflow-x: auto;
    color: var(--text-color);

    position: relative;

}

.table-widget table {
    max-width: fit-content;
    border-collapse: collapse;
}

.table-widget caption {
    font-size: 1.12rem;
    font-weight: 700;
    text-align: left;
    margin: 8px 0px;

}

.table-widget .export-btn {
    position: absolute;
    right: 40px;
    top: 30px;
    cursor: pointer;
    border-style: none;

    font-size: 0.8rem;
    font-weight: 700;
    background-color: var(--gray-mid);
    color: var(--background);
    padding: 8px;
    display: inline-flex;
    align-items: center;
    margin-left: 16px;
    border-radius: 8px;
    transition: all .2s ease-in-out;
}

.table-widget .export-btn:hover {
    background-color: var(--gray);
}

.table-widget .icon {
    margin-right: 0.3rem;
}


.table-widget th {
    padding: 20px 16px;
    font-size: 0.875rem;
    color: var(--gray);
}

.table-widget tfoot {
    margin-top: 16px;
    border-top: 2px solid var(--gray-background);
}

.table-widget td {
    padding: 8px 16px;
    vertical-align: middle;
    min-width: max-content;
}

.table-widget tbody tr {
    cursor: pointer;
}

.table-widget tbody tr:nth-child(odd) {
    background-color: var(--th-background);
}

.table-widget tbody tr:hover {
    background-color: var(--gray);
}

.table-row-count {
    font-size: 0.8rem;
    font-weight: 700;
    background-color: var(--gray-mid);
    color: var(--background);
    padding: 8px;
    display: inline-flex;
    align-items: center;
    margin-left: 16px;
    border-radius: 8px;
}

.team-member-profile {
    display: flex;
    gap: 16px;
    align-items: center;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.profile-info__name {
    font-weight: 700;
    white-space: nowrap;
}

.team-member-profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.status {
    border-radius: 8px;
    padding: 8px;
    font-weight: 700;
}


.status--active{
    background-color: #2ecc71;
}

.status--inactive {
    background-color: #f4bd50;
}

.status--offline {
    background-color: var(--gray);
}

.tags {
    display: flex;
    gap: 8px;
}

.tag {
    padding: 8px;
    background-color: var(--gray-mid);
    border-radius: 8px;
    font-weight: 700;
}

.tag::first-letter {
    text-transform: uppercase;
}

.tag--design {
    background-color: #bd8eff;
}

.tag--QA {
    background-color: #ff8585;
}

.tag--dev {
    background-color: #89b6ff;
}

.tag--marketing {
    background-color: #ffd45e;
}

.table-widget {
    min-height: 80px;
}

.pagination {
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding: 0px;
}

.pagination a {
    display: block;
    color: var(--primary);
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 700;
    padding: 12px 16px;
    border-radius: 8px;
}

.pagination a:hover, a.active {
    background-color: var(--gray);
    text-decoration: underline;
}