@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,100;1,300&display=swap');

:root {
    --primary: #3f3e3e;
    --secondary: #0be0b2;
    --third: #f5f5f5;
    --fourth: #252525;
    --fifth: #e0e0e0;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--fourth);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2,
h5 {
    color: var(--third);
}

h3 {
    color: var(--secondary);
    font-size: 1rem;
    margin: 1rem 0;
}

h5 {
    color: var(--fifth);
    font-weight: 400;
    font-size: 0.8rem;
}

h2 {
    font-size: 1.2rem;
}

ul li {
    font-size: 0.8rem;
}

.btn-primary {
    background-color: var(--secondary);
    color: var(--third);
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
    border: none;
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: var(--third);
    color: var(--secondary);
}

.pricing-card {
    width:380px;
    height: 450px;
    background-color: var(--primary);
    border-radius: 5px;
    box-shadow: 0px 0px 10px -1px var(--secondary);
    margin: 20px;
    padding: 20px;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0px 20px var(--secondary);
}

.label-best {
    background-color: var(--secondary);
    border-radius: 5px 0 0 5px;
    position: absolute;
    top: 15px;
    right: 0;
    padding: 10px;
    font-weight: 600;
}

.price {
    font-size: 30px;
    color: var(--third);
    margin-top: 20px;
}

ul {
    color: var(--fifth);
}

li::marker {
    content: "🚀";
}
