@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,100;1,300&display=swap');

:root {
    --white: #FFF;
    --gray: #F3F3F3;
    --background: #060D23;
    --tab-background: #383D4F;
    --gray-dark: #3e3e3e;
    --gray-hover: #F7F7F7;
    --primary-blue: #00E0FE;
    --blue-gray: #BBCFD5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    text-wrap: pretty;
}

body {
    font-family: 'Red Hat Display', system-ui, -apple-system;
    background: var(--gray);
    display: grid;
    place-items: center;
    height: 100vh;
    color: var(--gray);
}

.container {
    padding: 1.25rem;
    margin: 0.625rem;
    max-width: 23.75rem;
    width: 100%;
    min-height: 25rem;
    border-radius: 1rem;
    background: var(--background);
    box-shadow: 0px 7px 29px 0px rgba(100,100,111,0.2);;
}

img {
    display: inline;
}

.category {
    display: flex;
    text-align: left;
    align-items: center;
    gap: 0.5rem;
    color: var(--blue-gray);
    font-size: 0.9rem;
}

header {
    position: relative;
}

.tabs {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    gap: 0.5rem;
    padding-top: 0.75rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--tab-background);
    
    a {
        position: relative;
        display: flex;
        align-items: center;
        gap: 0.3rem;
        border-radius: 0.4rem;
        padding: 0.3rem 0.4rem;
        font-size: 0.875rem;
        color: var(--white);

        font-weight: 600;
        
    }
    
    a img {
        height: 1.25rem;
        width: 1.25rem;
    }
    
    .active {
        font-weight: 700;
        outline: none;
        color: var(--primary-blue);
        background: var(--tab-background);
    }
    
    a:hover {
        background: var(--tab-background);
    }
    
    a > svg {
        stroke: var(--white);
    }
    
    .active > svg {
        stroke: var(--primary-blue);
    }
}

.tab-content {
    display: none;
}

.tab-content--active {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.record {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    gap: 0.75rem;
    color: var(--white);
    height: 4rem;
    opacity: 1;
    padding: 1rem 0px;
    animation: fadein 0.3s ease-in-out;
}

@keyframes fadein {
    from { opacity: 1; }
    to { opacity: 0; }
}

.record .avatar {
    display: block;
    border-radius: 1rem;
    flex-grow: 0;
    height: 4rem;
    min-width: 4rem;
    width: 4rem;
    border: 1px solid var(--tab-background);
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 1rem;
    align-items: center;
}

.content .title {
    font-weight: 700;
    color: var(--white);
}

.content .description {
    font-size: smaller;
}

.title-description {
    display: flex;
    flex-direction: column;
    color: var(--blue-gray);
}

.explore-button {
    text-decoration: none;
    margin-left: auto;
    border: 1px solid var(--white);
    color: var(--white);
    border-radius: 0.5rem;
    height: fit-content;
    padding: 0.375rem 0.5rem;
    transition: all 0.2s ease-in-out;
}

.explore-button:hover {
    border: 1px solid var(--primary-blue);
    color: var(--primary-blue);
}